@import "tailwindcss";
@plugin "daisyui";

 .banner1 {
    background: url("../../public/b1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }

   .banner2 {
    background: url("../../public/b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }

   .banner3 {
    background: url("../../public/b3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }

   .banner4 {
    background: url("../../public/bac1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }

  .bb {
  background-image: url("../../public/b3.jpg");
}

.logo {
    background: url("../../public/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    
  }